footer{
	background-color:#F1AE9D;
	height:350px;
	.container{
		padding:0 8px;
		color:white;
		.single_footer_container{
			border-left:8px solid white;
			border-right:8px solid white;
			height:350px;
			background-color:#e7663b;
		}
	}
}
