
	@font-face{
		font-family:"bebasNeue";
		src:url('../font/BEBAS___.ttf');
		}
	@font-face{
		font-family:"Helvetica";
		src:url('../font/HelveticaNeue.ttf');
	}
	body{
		font-family:"Helvetica";
	}
	h1,h2,h3,h4,h5{
		font-family:"bebasNeue";
	}
