.nav-brand{
	color:#e7663b;
	span{
		color:#F1AE9D;
	}
}
header{
	background-color:#F1AE9D;
	.row{
		background-color: #e7663b;
		color:white;
	}
}
.nav {
	li{
		background-color:transparent;
		&:hover,&:active,&:focus{
			background-color:transparent;
		}
		a{
     		color: #c5c5c5;
      		font-family: "bebasNeue";
			font-size:20px;
			&:hover,&:active,&:focus{
				background-color:transparent;
				color:#e7663b;
				}
		}
	}
}
.nav{
		a{
     		color: #c5c5c5;
      		font-family: "bebasNeue";
			font-size:20px;
			&:hover,&:active,&:focus{
				background-color:transparent;
				color:#e7663b;
				}
		}
	}
.nav .active{
	a{
		color:#e7663b;
	}
	
}
.navbar-right{
	padding-top:20px;
}