.header_bottom_area{
	background-color:#F1AE9D;
	height:50px;
	width:100%;
}
.main_content_area{
	position:relative;
	top:-50px;
	.container{
		padding:0 10px;
		.represent{
		background-color:#e7663b;
		height:50px;
		margin-bottom:20px;
		h1{
			margin-top:0;

		}
	}
	}
	
}