.portafolios{
	.folio{
		font-size:25px;
		color:black;
		font-weight:bold;
		margin:10px 0;
	}

	.blog_post_meta{
		border-top:1px solid #c5c5c5;
		margin:5px 0;
		h3{
			font-size:16px;
		}
		h4{
			font-size:10px;
		}
	}
}
.titulo-folio{
	margin:25px 0;

	a{
	background-color:#e7663b;
	padding:2% 1%;
	color:white;
	margin:5px 0;
	}
}